*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 24px;
    color: #04456A;
    font-family: Roboto;
    font-weight: 400;
}

.wrapper {

    overflow: hidden;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
}

.header__container {
    display: flex;
    min-height: 110px;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: inherit;

}

.header__menu {
    margin-left: 161px;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 71px;
}

.menu__link {

    font-size: 30px;
    font-weight: 700;
    color: inherit;
}

.button {

    display: flex;
    align-items: center;

}

.button__join {
    border-radius: 2px;
    color: #fff;
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    padding: 10px 25px;
    background: #EE7E22;
    border-radius: 10px;
}

/**/

.promo {

    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.promo__textcontent {
    align-content: center;
}

.promo__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
}

.promo__subtitle {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
}

.promo__image {
    margin: 0, 86px;
}

/***/

.directions {

    margin-top: 130px;

}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 65px;


}

.title__main {
    margin: auto;
    font-weight: 500;
    font-size: 36px;
}

.card {
    display: flex;
    align-items: center;

}

.card__list {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.card__item {
    margin: auto;
    width: 365px;
    border: 2px solid #000;
    border-radius: 20px;


}

.card__item-title {
    font-weight: 700;
    font-size: 46px;
    color: #4A9DFF;
    margin-top: 25px;
    margin-left: 25px;
}

.card__item-main {
    font-weight: 500;
    font-size: 24px;
    color: #04456A;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 70px;
    word-break: break-word
}

.in-card{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px; 
}

/***/

.tablet {
    display: flex;
    align-items: center;

}

.tablet__list {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.tablet__item {
    margin: auto;
    width: 365px;
    align-items: center;
}

.tablet__item-title{
    font-weight: 700;
    font-size: 46px;
    color: #4A9DFF;
    margin: auto;
    margin-bottom: 19px;
}

.tablet__item-main{
    font-weight: 400;
    font-size:24px;
    color: #04456A;
    margin: auto;
}

/***/

.info{
    margin-top: 130px;
    display: flex;
    align-content: flex-start;
    margin-bottom: 100px;
}

.info__title{
    margin: auto;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 40px;
}

.info__subtitle{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 60px;
}

.vmodal{
   
    
}

.vmodal.open .modal__body,
.vmodal.open .modal__overlay{
    opacity: 1;
    z-index: 2;
}

.modal__body, .modal__overlay  {
    opacity: 0;
    z-index: -1;
}

.modal__overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}

.modal__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px, 10px;
    
    
}
.modal__content{
    background-color: white;
    width: 1100px;
    padding: 30px;
    position: relative;
    border-radius: 20px;
    

}

.modal__close
{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20;
}


.modal__maincontent{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}



.modal__text{
    margin-left: 20px;
   
    
}

.modal__title
{
    font-weight: 700;
    font-size: 46px;
    color: #4A9DFF;
    margin-bottom: 30px;
    margin-left: 20px;
}

.modal__subtitle{
    font-weight: 500;
    font-size:24px;
    color: #04456A;
    margin-bottom: 20px;

}

.modal__point{
    margin:10px;
}


